@model List<CongNoQuaHanModel>
<style>
    .tab-content > .active {
        opacity: 1;
    }

    .tab-content {
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        border-color: #ddd;
        padding: 10px;
    }

    .nav-tabs > li > a {
        color: #fff;
        cursor: default;
        background-color: #2A3F54;
        border: 1px solid #ddd;
        border-bottom-color: #fff !important;
        font-weight: bold;
    }

    .nav-tabs > li.active > a {
        color: #2A3F54 !important;
        cursor: default;
        background-color: #fff !important;
        border: 1px solid #ddd;
        border-bottom-color: #fff !important;
        font-weight: bold;
    }

    .modal-content {
        margin: 30px auto;
    }

    .table-responsive {
        background: #fff;
        border-radius: 0px 0px 8px 8px;
    }
    .title {
        background: #fff;
        padding: 7px;
        font-weight: bold;
        border-bottom: 1px solid;
        border-radius: 8px 8px 0px 0px;
    }
    @@media(min-width: 768px) {
        .CNNV .modal-content {
            width: 900px;
        }
    }

    .modal-body img {
        width: 100% !important;
        height: auto !important;
    }

    .modal-body {
        padding: 0 15px;
        height: 800px;
        overflow: auto;
    }
    .modal-content {
        padding-bottom: 15px;
        background: #2A3F54;
    }
    .modal-header {
        padding: 6px 15px;
        border-bottom: none;
    }
    .trans {
        transform: rotate(180deg);
    }
</style>
<div class="CNNV">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="color:#fff">&times;</button>
            <h4 style="color:white">Danh sách công nợ nhân viên quá hạn</h4>
        </div>
        <div class="modal-body">
            @if (Model != null)
            {
                int z = 1;
                foreach (var item in Model)
                {
                    var NoiDung = "noidung" + z;
                    var Arrow = "arrow" + z;
                    if (z < 3)
                    {
                        <div style="margin-bottom:5px;">
                            <div class="title">
                                @item.TieuDe Tháng @item.Thang
                                <a onclick="dk('@NoiDung','@Arrow')" style="cursor: pointer; font-weight: bold; float: right; transition: transform 2s;"><i id="@Arrow" class="fa fa-chevron-up" aria-hidden="true"></i></a>
                            </div>
                            <div id="@NoiDung" class="table-responsive">
                                <table id="gridCNNV" class="table table-striped jambo_table bulk_action table-bordered">
                                    <thead>
                                        <tr class="headings" style="font-size:12px;">
                                            <th class="column-title">STT </th>
                                            <th class="column-title">Mã NV</th>
                                            <th class="column-title">Tên NV</th>
                                            <th class="column-title">Số tiền nợ</th>
                                            <th class="column-title">Time xuất</th>
                                            <th class="column-title">Dư nợ</th>
                                            <th class="column-title">Status</th>
                                            <th class="column-title">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item != null)
                                        {
                                            int i = 1;
                                            @foreach (var item_detail in item.ListCongNoNVQuaHan)
                                            {
                                                if (@item_detail.TinhTrang == "High")
                                                {
                                                    <tr class="even pointer danger" style="font-size:12px;">
                                                        @if (@item_detail.MaNV == "" && @item_detail.TenNV == "")
                                                        {
                                                            <td colspan="8">TUẦN NÀY KHÔNG CÓ NHÂN VIÊN NỢ QUÁ HẠN. GOOD TEAM</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="">@i</td>
                                                            <td class="">@item_detail.MaNV</td>
                                                            <td class="">@item_detail.TenNV</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.SoTienNo))</td>
                                                            <td class="">@item_detail.ThoiGianXuatVe</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.DuNo))</td>
                                                            <td class="">@item_detail.TinhTrang</td>
                                                            <td class="">@item_detail.GhiChu</td>
                                                        }
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="even pointer" style="font-size:12px;">
                                                        @if (@item_detail.MaNV == "" && @item_detail.TenNV == "")
                                                        {
                                                            <td colspan="8"><strong style="color: #0023F5;">TUẦN NÀY KHÔNG CÓ NHÂN VIÊN NỢ QUÁ HẠN. GOOD TEAM</strong></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="">@i</td>
                                                            <td class="">@item_detail.MaNV</td>
                                                            <td class="">@item_detail.TenNV</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.SoTienNo))</td>
                                                            <td class="">@item_detail.ThoiGianXuatVe</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.DuNo))</td>
                                                            <td class="">@item_detail.TinhTrang</td>
                                                            <td class="">@item_detail.GhiChu</td>
                                                        }
                                                    </tr>
                                                }
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="margin-bottom:5px;">
                            <div class="title">
                                @item.TieuDe Tháng @item.Thang
                                <a onclick="dk('@NoiDung','@Arrow')" style="cursor: pointer; font-weight: bold; float: right; transition: transform 2s;"><i id="@Arrow" class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            </div>
                            <div id="@NoiDung" class="table-responsive" style="display:none;">
                                <table id="gridCNNV" class="table table-striped jambo_table bulk_action table-bordered">
                                    <thead>
                                        <tr class="headings" style="font-size:12px;">
                                            <th class="column-title">STT </th>
                                            <th class="column-title">Mã NV</th>
                                            <th class="column-title">Tên NV</th>
                                            <th class="column-title">Số tiền nợ</th>
                                            <th class="column-title">Time xuất</th>
                                            <th class="column-title">Dư nợ</th>
                                            <th class="column-title">Status</th>
                                            <th class="column-title">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item != null)
                                        {
                                            int i = 1;
                                            @foreach (var item_detail in item.ListCongNoNVQuaHan)
                                            {
                                                if (@item_detail.TinhTrang == "High")
                                                {
                                                    <tr class="even pointer danger" style="font-size:12px;">
                                                        @if (@item_detail.MaNV == "" && @item_detail.TenNV == "")
                                                        {
                                                            <td colspan="8">TUẦN NÀY KHÔNG CÓ NHÂN VIÊN NỢ QUÁ HẠN. GOOD TEAM</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="">@i</td>
                                                            <td class="">@item_detail.MaNV</td>
                                                            <td class="">@item_detail.TenNV</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.SoTienNo))</td>
                                                            <td class="">@item_detail.ThoiGianXuatVe</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.DuNo))</td>
                                                            <td class="">@item_detail.TinhTrang</td>
                                                            <td class="">@item_detail.GhiChu</td>
                                                        }
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="even pointer" style="font-size:12px;">
                                                        @if (@item_detail.MaNV == "" && @item_detail.TenNV == "")
                                                        {
                                                            <td colspan="8">TUẦN NÀY KHÔNG CÓ NHÂN VIÊN NỢ QUÁ HẠN. GOOD TEAM</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="">@i</td>
                                                            <td class="">@item_detail.MaNV</td>
                                                            <td class="">@item_detail.TenNV</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.SoTienNo))</td>
                                                            <td class="">@item_detail.ThoiGianXuatVe</td>
                                                            <td class="">@string.Format("{0:0,0}", double.Parse(item_detail.DuNo))</td>
                                                            <td class="">@item_detail.TinhTrang</td>
                                                            <td class="">@item_detail.GhiChu</td>
                                                        }
                                                    </tr>
                                                }
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    z++;
                }
            }

        </div>
    </div>
</div>

<script>
    function dk(NoiDung,Arrow) {
        var noiDung = "#" + NoiDung;
        var arrow = "#" + Arrow;
        $(noiDung).toggle();
        if ($(arrow).hasClass("trans") == true) {
            $(arrow).removeClass("trans");
        }
        else {
            $(arrow).addClass("trans");
        }
    }
</script>