@model List<Province>
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Tạo khách sạn";

    FlagRepository flagRepository = new FlagRepository(_configuration);
    var listFlag = flagRepository.GetListFlag();

}
<title>@ViewData["Title"]</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet">
<link href="~/css/hotel/createhotel.css" rel="stylesheet" />

<style>
    div.chosen-container.chosen-container-multi#hotelServiceArray_chosen {
        width: 100% !important;
    }
</style>

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color:#fff">Tạo mới hotel</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">
            <form id="submitForm" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Tên khách sạn</label>
                            <input class="form-control" id="Name" name="Name" placeholder="Tên khách sạn" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Số điện thoại</label>
                            <input class="form-control" id="Phone" name="Phone" placeholder="VD: 091234678" type="tel" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Email</label>
                            <input class="form-control" id="Email" name="Email" placeholder="VD: hotel@@gmail.com" type="email" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Cờ</label>
                            <select id="flagSelect" class="form-control" name="Flag" asp-for="Flag">
                                <option value="0">Bình thường</option>
                                @foreach (var flag in listFlag)
                                {
                                    <option value="@flag.Id">@flag.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Số nhà, Tên Đường</label>
                            <input type="text" placeholder="Số nhà/Tên đường" id="Address" name="Address" class="form-control" />
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="provinceSelect">Tỉnh/Thành:</label>
                                <select id="provinceSelect" class="form-control" name="provinceName" asp-for="Province">
                                    <option value="">Chọn Tỉnh/Thành</option>
                                    @foreach (var province in Model)
                                    {
                                        <option value="@province.Code">@province.Full_Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="districtSelect">Quận/Huyện:</label>
                                <select id="districtSelect" class="form-control" name="districtName">
                                    <option value="">Chọn Quận/Huyện</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="wardSelect">Phường/Xã:</label>
                                <select id="wardSelect" class="form-control" name="wardName">
                                    <option value="">Chọn Phường/Xã</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-1">
                        <div class="item form-group">
                            <label class="control-label">
                                Hình đại diện (800x450px)
                            </label>
                            <div class="row contain-listImg" id="RowImg1">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="inputfile-box">
                                                <input type="file" id="file1" class="inputfile" onchange="previewImage(event)" accept="image/*">
                                                <label for="file1">
                                                    <span class="file-button btn btn-primary" style="margin-bottom: 6px;">
                                                        Chọn file
                                                    </span>
                                                </label>
                                                <input id="file-name-popup1" class="file-box" placeholder="Chọn tập tin">
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <input class="btn btn-primary" onclick="CreateRowImg(this);" type="button" value="+" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label">
                                        Hình đại diện
                                    </label>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="main-img" id="imagePreview1">
                                    </div>
                                </div>
                            </div>
                            <div id="addRowsImg">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Danh sách các dịch vụ của khách sạn</label>
                            <div>
                                @{
                                    var hotel_Rep = new HotelRepository(_configuration);
                                    var hotelService = hotel_Rep.GetHotelServices();
                                }
                                <select name="hotelServiceArray" id="hotelServiceArray" multiple class="chosen-select-multi-create form-control">
                                    @foreach (var item in hotelService)
                                    {
                                        <option value="@item.Id">@item.ServiceName</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Mô tả ngắn</label>
                            <div>
                                <textarea class="form-control" name="ShortDescription" id="ShortDescription" maxlength="200" required>
                            </textarea>
                                <small id="charCount" class="form-text text-muted">0/200 ký tự</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Mô tả chi tiết</label>
                            <div>
                                <textarea class="form-control" id="LongDescription" required>
                            </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="item form-group" style="margin-top:12px;">
                            <label class="control-label">
                                Loại phòng
                            </label>

                            <div class="table-responsive">
                                <table class="table tableRoomType">
                                    <thead>
                                        <tr>
                                            <th>Tên phòng</th>
                                            <th style="width:80px;">Số người tối đa</th>
                                            <th>Giá bán</th>
                                            <th>Giá chiết khấu</th>
                                            <th>Mô tả ngắn</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" name="roomTypeName[]" class="form-control" placeholder="Tên phòng" />
                                            </td>
                                            <td>
                                                <input type="number" step="1" min="1" name="roomTypeMaxPerson[]" class="form-control" placeholder="Số người tối đa" />
                                            </td>
                                            <td>
                                                <input type="text" name="roomTypePrice[]" class="form-control Price price-input" placeholder="Giá bán" />
                                            </td>
                                            <td>
                                                <input type="text" name="roomTypeDiscountPrice[]" class="form-control DiscountPrice price-input" placeholder="Giá chiết khấu" />
                                            </td>
                                            <td>
                                                <textarea class="form-control" name="roomTypeDescription[]"> </textarea>
                                            </td>
                                            <td>
                                                <input class="btn btn-primary" onclick="CreateRowTable();" type="button" value="+" />

                                                @* Nếu dòng đầu sẽ không có dấu - *@
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" style="float:right">
                        <div class="form-group" style="float:right;">
                            <label for="inputEmail3" class="control-label">&nbsp;</label>
                            <div>
                                <button type="button" class="btn btn-primary" onclick="Save()">Lưu</button>
                                @* <a class="btn btn-primary" onclick="Save()">Lưu</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" integrity="sha512-eSeh0V+8U3qoxFnK3KgBsM69hrMOGMBy3CNxq/T4BArsSQJfKVsKb5joMqIPrNMjRQSTl4xG8oJRpgU2o9I7HQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/hotel/createhotel.js"></script>

