@using Manager.DataAccess.IRepository.IUnitOfWork_Repository
@inject IUnitOfWork_Repository _unitOfWork_Repository;
@{
    var Content_Right = _unitOfWork_Repository.Lotusmile_Rep.Content_Right();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/mycss.css">
    <link rel="stylesheet" href="~/vendors/BSV/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/vendors/BSV/bootstrap/js/bootstrap.min.js"></script>
    <title></title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-image: url(../images/bg_bsv.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .contain-img img {
            width: 100%;
        }

        .contain-body {
            padding: 15px 0;
        }

        .form-label {
            font-weight: bold;
        }

        .form-signup {
            background-color: #fff;
            border-radius: 5px;
            margin: 10px 0px;
            padding-bottom: 30px;
        }

        .form-header {
            background-color: #086d88;
            color: #fff;
            font-size: 18px;
            padding: 5px 16px;
            border-radius: 5px 5px 0 0;
            text-align: center;
        }

            .form-header img {
                width: 25%;
            }

            .form-header p {
                font-size: 26px;
                margin-bottom: 0px;
                line-height: 39px;
                font-family: initial;
            }

        .row {
            padding: 0 15px;
        }

        .form-text {
            padding: 0 15px;
        }

        .d-grid {
            padding: 0 15px;
            margin-top: 15px;
        }

        @@media (max-width: 991px) {
            .form-header p {
                font-size: 20px;
                line-height: 27px;
            }
        }

        @@media (max-width: 767px) {
            .form-header img {
                width: 45%;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-signup">
            <div class="form-header">
                <img class="logo" src="~/images/logoVN.png">
                <p>ĐĂNG KÝ HỘI VIÊN LOTUSMILES</p>
            </div>
            <div class="contain-body">
                @using (Html.BeginForm("SignupLotusmile", "Lotusmile", new { i = 12 }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 20px;">
                            <div class="contain-form">
                                <p style="margin-bottom: 0px;font-style: italic;">Tất cả các trường có dấu <span style="color: red;font-weight: bold;">*</span> là bắt buộc</p>
                                <div class="row">
                                    <label class="form-label">Danh xưng<span style="color:red;">*</span></label>
                                    <div class="mb-1">
                                        <div class="col-sm-3">
                                            <select name="Title" class="form-select" required>
                                                <option value="">Chọn</option>
                                                <option value="Ông">Ông</option>
                                                <option value="Bà">Bà</option>
                                                <option value="Cô/Chị">Cô/Chị</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-1">
                                            <label class="form-label">Họ<span style="color:red;">*</span></label>
                                            <input id="LastName" name="LastName" type="text" class="form-control" placeholder="Họ" onchange="xoa_dau(this.id)" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-1">
                                            <label class="form-label">Đệm và tên<span style="color:red;">*</span></label>
                                            <input id="FirstName" name="FirstName" type="text" class="form-control" placeholder="Tên" onchange="xoa_dau(this.id)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="form-label">Ngày sinh<span style="color:red;">*</span></label>
                                    <div class="col-sm-4">
                                        <div class="mb-1">
                                            <select name="Day" class="form-select" required>
                                                <option value="">Ngày</option>
                                                @for (int i = 1; i <= 31; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-1">
                                            <select name="Month" class="form-select" required>
                                                <option value="">Tháng</option>
                                                @for (int i = 1; i <= 12; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-1">
                                            <select name="Year" class="form-select" required>
                                                <option value="">Năm</option>
                                                @for (int i = DateTime.Now.Year; i >= 1900; i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label class="form-label">Email<span style="color:red;">*</span></label>
                                    <div class="input-group">
                                        <input name="Email" type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label class="form-label">Điện thoại<span style="color:red;">*</span></label>
                                    <div class="input-group">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Vietnam (84)</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Vietnam (84)</a></li>
                                        </ul>
                                        <input id="Tel" name="Tel" onchange="checkTel()" type="number" class="form-control" placeholder="0xxxxxxxxx" required>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label class="form-label">Quốc tịch<span style="color:red;">*</span></label>
                                    <div class="col-sm-4">
                                        <select name="Nationality" class="form-select" required>
                                            <option value="Việt Nam">Viet Nam</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label class="form-label">Ghi chú</label>
                                    <div class="col-sm-12">
                                        <textarea name="Note" class="form-control" id="" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contain-img">
                                @Html.Raw(Content_Right)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @* @if (ViewBag.message != null)
    {
        <script charset="UTF-8">
            alert('@Html.Raw(ViewBag.message)');
        </script>
    } *@
    <script>
        function checkTel() {
            var tel = document.getElementById("Tel").value;
            if (tel.length != 10) {
                alert("Số điện thoại phải có 10 ký tự");
            }
        }
        function xoa_dau(id) {
            var str = document.getElementById(id).value;
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, 'a');
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, 'e');
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, 'i');
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, 'o');
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, 'u');
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, 'y');
            str = str.replace(/đ/g, 'd');
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, 'A');
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, 'E');
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, 'I');
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, 'O');
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, 'U');
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, 'Y');
            str = str.replace(/Đ/g, 'D');
            // Gộp nhiều dấu space thành 1 space
            str = str.replace(/\s+/g, ' ');
            document.getElementById(id).value = str.toUpperCase().trim();
        }
    </script>
</body>

</html>