@model List<PostForumModel>
@{
    ViewData["Title"] = "Duyệt bài viết Forum";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<title>@ViewData["Title"]</title>
<div class="x_panel">
    <div class="x_content">
        <div class="table-responsive">
            <table id="gridForum" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Tên bài viết</th>
                        <th>Người tạo</th>
                        <th>Ngày tạo</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="@item.Id">
                                <td><a class="View" style="color:blue;" href="javascript:;"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.UserCreated</td>
                                <td>@item.CreatedOn</td>
                                @if (item.IsDeleted == true)
                                {
                                    <td class="bg-danger">Đã xóa</td>
                                }
                                @if (@item.IsDeleted == false && @item.IsActive == "1")
                                {
                                    <td class="bg-success">Đã đăng</td>
                                }
                                @if (@item.IsDeleted == false && @item.IsActive == "0")
                                {
                                    <td class="bg-warning">Không duyệt</td>
                                }
                                @if (@item.IsDeleted == false && @item.IsActive == null)
                                {
                                    <td class="bg-info">Chưa duyệt</td>
                                }
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="openPopup" role="dialog">
</div>
<script src="~/js/jquery.1.7.2.min.js"></script>
<script src="~/js/jquery-ui.1.8.9.js"></script>
<link href="~/js/jquery-ui.1.8.9.css" rel="stylesheet" />
@* @if (ViewBag.ThongBao != null)
{
    <script charset="UTF-8">
        alert('@Html.Raw(ViewBag.ThongBao)');
    </script>
} *@
<script>
    $("#gridForum .View").click(function () {
        var id = String($(this).closest('tr').attr('id'));
        $.ajax({
            type: "POST",
            url: "../Forum/ViewPosts",
            data: {
                ID: id
            },
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>

