@model Manager.Model.Models.LandingPage.CustomerReViewModel

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color: #2A3F54; border-radius: 8px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            <h3 style="color: #fff;">Yêu cầu khách hàng (@Model.CustomerRequest.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss"))</h3>
        </div>
        <div class="modal-body" style="border-radius: 8px; background-color: #fff;">
            <!-- Customer Information -->
            <h5>Yêu cầu từ khách hàng</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Tên người gửi:</th>
                        <td>@Model.CustomerRequest.Name</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>@Model.CustomerRequest.Email</td>
                    </tr>
                    <tr>
                        <th>Tiêu đề:</th>
                        <td>@Model.CustomerRequest.Subject</td>
                    </tr>
                    <tr>
                        <th>Nội dung:</th>
                        <td>@Model.CustomerRequest.Description</td>
                    </tr>
                </tbody>
            </table>

            <hr />
            <h5>Phản hồi đến khách hàng</h5>

            <!-- Response Form or Response Details -->
            @if (Model.CustomerResponse == null)
            {
                <form id="submitForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Subject" class="control-label">Tiêu đề</label>
                                <input class="form-control" type="text" id="Subject" name="Subject" placeholder="Tiêu đề" required>
                                <input class="form-control" type="hidden" id="CustomerRequestId" value="@Model.CustomerRequest.Id" name="CustomerRequestId">
                                <input class="form-control" type="hidden" id="customerEmail" value="@Model.CustomerRequest.Email" name="customerEmail">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Description" class="control-label">Nội dung</label>
                                <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Nhập nội dung phản hồi..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <button id="btnSave" type="submit" class="btn btn-primary">Gửi phản hồi</button>
                </form>
            }
            else
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>NV phản hồi:</th>
                            <td>@Model.CustomerResponse.CreatedBy</td>
                        </tr>
                        <tr>
                            <th>Thời điểm phản hồi:</th>
                            <td>@Model.CustomerResponse.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        </tr>
                        <tr>
                            <th>Tiêu đề:</th>
                            <td>@Model.CustomerResponse.Subject</td>
                        </tr>
                        <tr>
                            <th>Nội dung:</th>
                            <td>@Html.Raw(Model.CustomerResponse.Description)</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script src="~/js/landingpage/customerrequest/customerresponse.js"></script>
