@model Manager.Model.Models.LandingPage.CompanyHistory
<link href="~/css/paymentgateway/customfileinput.css" rel="stylesheet" />
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color:#fff">Chỉnh sửa lịch sử Flight VN</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">

            <form id="submitForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Năm</label>
                            <input class="form-control" type="number" id="Year" name="Year" placeholder="Năm" value="@Model.Year" min="2007" max="@DateTime.Now.Year" step="1" required>
                            <input class="form-control" type="text" id="Id" name="Id" value="@Model.Id" hidden required>
                            <input class="form-control" type="text" id="Image" name="Image" value="@Model.Image" hidden required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label">Sự kiện diễn ra</label>
                            <textarea class="form-control" style="height:300px;" id="Event" name="Event">@Model.Event</textarea>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputImage" class="control-label">Ảnh</label>
                            <br />
                            <label for="inputImage" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Chọn ảnh
                            </label>
                            <input id="inputImage" name="ImageValue" type="file" class="ImageValue" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div id="image-container">
                            <img src="@Model.Image" width="100%" />
                        </div>
                    </div>
                </div>
                <button id="btnSave" type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
<script src="~/js/hotel/generateimagetoview.js"></script>
<script src="~/js/landingpage/companyhistory/editcompanyhistory.js"></script>