@model List<NoiDungKhoa>
@{
    ViewData["Title"] = "Nội dung thông báo";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<h2>Nội dung</h2>

<div class="x_panel">
    <div class="x_content">
        <div>
            <input class="btn btn-primary" id="Create" type="button" name="Create" value="Tạo mới" />
        </div>
        <div class="table-responsive">
            <table id="gridNoiDung" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung tìm kiếm</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="@item.ROWID">
                                <td><a class="Edit" style="color:blue;" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                <td>@i</td>
                                <td>@item.TieuDe</td>
                                <td>@item.NoiDungTimKiem</td>
                                <td>@item.TinhTrang</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="openPopup" role="dialog">
</div>
<script src="~/js/jquery.1.7.2.min.js"></script>
<script src="~/js/jquery-ui.1.8.9.js"></script>
<link href="~/js/jquery-ui.1.8.9.css" rel="stylesheet" />
 @* @if (ViewBag.ThongBao != null)
{
    <script charset="UTF-8">
        alert('@Html.Raw(ViewBag.ThongBao)');
    </script>
} *@
<script>
    $("#Create").click(function () {
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/CreateNoiDung",
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#gridNoiDung .Edit").click(function () {
        var id = String($(this).closest('tr').attr('id'));
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/EditNoiDung",
            data: {
                ID: id
            },
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
   
</script>
