@model List<TinhTrangKhoa>
@{
    ViewData["Title"] = "Tình trạng thông báo";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<h2>Tình trạng</h2>

<div class="x_panel">
    <div class="x_content">
        <div>
            <a id="BtnCreate" href="javascript:;" class="btn btn-primary">Tạo mới</a>
        </div>
        <div class="table-responsive">
            <table id="gridTinhTrang" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Tình trạng</th>
                        <th>Phòng ban</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            if (item.IsActive == 1)
                            {
                                <tr id="@item.ID">
                                    <td><a class="Edit" style="color:blue;" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                    <td>@i</td>
                                    <td>@item.Name</td>
                                    <td>@item.ID_Dept</td>
                                    <td><a class="Delete" style="color:red;" href="javascript:;"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                            }
                            else
                            {
                                <tr id="@item.ID" class="danger">
                                    <td><a class="Edit" style="color:blue;" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                    <td>@i</td>
                                    <td>@item.Name</td>
                                    <td>@item.ID_Dept</td>
                                    <td><a class="Active" style="color:green;" href="javascript:;"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                </tr>
                            }
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="openPopup" role="dialog">
</div>
<script src="~/js/jquery.1.7.2.min.js"></script>
<script src="~/js/jquery-ui.1.8.9.js"></script>
<link href="~/js/jquery-ui.1.8.9.css" rel="stylesheet" />
@* @if (ViewBag.ThongBao != null)
{
    <script charset="UTF-8">
        alert('@Html.Raw(ViewBag.ThongBao)');
    </script>
} *@
<script>
    $("#BtnCreate").click(function () {
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/CreateTinhTrang",
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#gridTinhTrang .Edit").click(function () {
        var id = String($(this).closest('tr').attr('id'));
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/EditTinhTrang",
            data: {
                ID: id
            },
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
    $("#gridTinhTrang .Delete").click(function () {
        var id = String($(this).closest('tr').attr('id'));
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/DeleteTinhTrang",
            data: {
                ID: id
            },
            success: function (response) {
                if (response == true) {
                    alert("Bạn đã xóa thành công");
                }
                else {
                    alert("Bạn đã xóa không thành công");
                }
                window.location.href = "../ThongBaoDaiLy/TinhTrang?&i=9";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
    $("#gridTinhTrang .Active").click(function () {
        var id = String($(this).closest('tr').attr('id'));
        $.ajax({
            type: "POST",
            url: "../ThongBaoDaiLy/ActiveTinhTrang",
            data: {
                ID: id
            },
            success: function (response) {
                if (response == true) {
                    alert("Bạn đã kích hoạt thành công");
                }
                else {
                    alert("Bạn đã kích hoạt không thành công");
                }
                window.location.href = "../ThongBaoDaiLy/TinhTrang?&i=9";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
