@model TongQuatMail
@{
    ViewData["Title"] = "Danh sách báo cáo vé khác";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<title> @ViewData["Title"] </title>

<form asp-controller="Data" asp-action="DSVeSotKhac" method="post" enctype="multipart/form-data">
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="form-horizontal">
                    <div class="item col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="col-form-label pad-top-6 col-sm-3 label-align col-md-4" for="first-name">
                                Từ Ngày
                            </label>
                            <div class="col-sm-9 col-md-8">
                                <fieldset class="col-xs-12" style="padding:0px">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class=" xdisplay_inputx form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-right" id="single_cal5" name="cal_from" value='@ViewBag.DateFrom'>
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    @*Muốn cho trường tháng năm rỗng ko lấy ngày hiện tại vào file custom.min.js dòng 1230*@
                    <div class="item col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="col-form-label pad-top-6 col-sm-3 label-align col-md-4" for="first-name">
                                Đến Ngày
                            </label>
                            <div class="col-sm-9 col-md-8">
                                <fieldset class="col-xs-12" style="padding:0px">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class=" xdisplay_inputx form-group has-feedback" id="">
                                                <input type="text" class="form-control has-feedback-right" id="single_cal6" name="cal_to" value='@ViewBag.DateTo'>
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label class="col-form-label pad-top-6 col-sm-3 label-align col-md-4" for="first-name">
                                Số vé
                            </label>
                            <div class="col-sm-9 col-md-8">
                                <input class="form-control" type="text" id="SoVeSearch" name="SoVeSearch" placeholder="Số vé" value="@ViewBag.SoVe" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-form-label pad-top-6 col-sm-3 label-align col-md-4">
                                Website
                            </label>
                            <div class="col-sm-9 col-md-8" style="/* padding-right:0px; */">
                                <select class="required form-control" id="Status" name="Status" style="/* padding:0 0 0 10px; */">
                                    <option selected="" value="-100">ALL</option>
                                    <option value="0">BSP</option>
                                    <option value="1">OLA</option>
                                    <option value="2">APPCA</option>
                                    <option value="3">TEST</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-sm-4 col-md-2">
                    <div class="form-group">
                    <div class="checkbox" style="margin-left:10px;">
                    <label><input type="checkbox" id="CheckTM" name="CheckTM" value="true"> <span style="font-size:14px;font-weight:700">  Tiền mặt</span> </label>
                    </div>
                    </div>
                    </div>*@

                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-1" style="float:right;">
                    <button type="submit" class="btn btn-primary" name="buttonclick" value="search_ve">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="table-responsive">
                    <table id="gridVeSot" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Mã Hãng</th>
                                <th>Mã KH</th>
                                <th>Mã KH EFF</th>
                                <th>Code</th>
                                <th>Nhân Viên</th>
                                <th>Ngày</th>
                                <th>PNR</th>
                                <th>Số Vé</th>
                                <th>Giá Mua</th>
                                <th>Phí DV Mua</th>
                                <th>Phí DV Bán</th>
                                <th>Phí hoàn</th>
                                <th>Chiết khấu</th>
                                <th>Ghi chú</th>
                                <th>Mã GT</th>
                                <th>Người GT</th>

                                <th>Đã xong</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.ListChiTietVe != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.ListChiTietVe)
                                    {
                                        if (item.MAKH_EFF != "")
                                        {
                                            <tr id="@item.ID">
                                                @{
                                                    DateTime ngaySua = DateTime.ParseExact(item.NGAYSUA, "dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture, DateTimeStyles.None);
                                                    TimeSpan t = DateTime.Now - ngaySua;
                                                    if (item.CODE == "")
                                                    {
                                                        if (t.TotalMinutes <= Model.TimeOutEdit)
                                                        {
                                                            <td><a class="VeSot" style="color:blue;" data-toggle="modal" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                                        }
                                                        else
                                                        {
                                                            <td><i class="fa fa-ban" style="color:red" aria-hidden="true"></i></td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td><i class="fa fa-ban" style="color:red" aria-hidden="true"></i></td>
                                                    }
                                                }

                                                <td>@i</td>
                                                <td>@item.MAHHK</td>
                                                <td>@item.MAKH</td>
                                                <td>@item.MAKH_EFF</td>
                                                <td>@item.CODE</td>
                                                <td>@item.TenNhanVien</td>
                                                <td>@item.NGAYSUA</td>
                                                <td>@item.PNR</td>
                                                <td>@item.SoVe</td>
                                                <td>@item.GiaMua</td>
                                                <td>@item.PhiDVMua</td>
                                                <td>@item.PhiDVBan</td>
                                                <td>@item.PhiHoan</td>
                                                <td>@item.ChietKhau</td>
                                                <td>@item.GHICHU</td>
                                                <td>@item.MAGIOITHIEU</td>
                                                <td>@item.NGUOIGIOITHIEU</td>
                                                <td><input id="TinhTrangEFF" type="checkbox" checked="checked" disabled /></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr id="@item.ID" style="background-color:red;color:white;">
                                                @{

                                                    DateTime ngaySua = DateTime.ParseExact(item.NGAYSUA, "dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture, DateTimeStyles.None);
                                                    TimeSpan t = DateTime.Now - ngaySua;
                                                    if (item.CODE == "")
                                                    {
                                                        if (t.TotalMinutes <= Model.TimeOutEdit)
                                                        {
                                                            <td><a class="VeSot" style="color:blue;" data-toggle="modal" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                                        }
                                                        else
                                                        {
                                                            <td><i class="fa fa-ban" style="color:red" aria-hidden="true"></i></td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td><i class="fa fa-ban" style="color:red" aria-hidden="true"></i></td>
                                                    }

                                                }

                                                <td>@i</td>
                                                <td>@item.MAHHK</td>
                                                <td>@item.MAKH</td>
                                                <td>@item.MAKH_EFF</td>
                                                <td>@item.CODE</td>
                                                <td>@item.TenNhanVien</td>
                                                <td>@item.NGAYSUA</td>
                                                <td>@item.PNR</td>
                                                <td>@item.SoVe</td>
                                                <td>@item.GiaMua</td>
                                                <td>@item.PhiDVMua</td>
                                                <td>@item.PhiDVBan</td>
                                                <td>@item.PhiHoan</td>
                                                <td>@item.ChietKhau</td>
                                                <td>@item.GHICHU</td>
                                                <td>@item.MAGIOITHIEU</td>
                                                <td>@item.NGUOIGIOITHIEU</td>
                                                @if (item.TinhTrangEFF == false)
                                                {
                                                    <td> <input id="TinhTrangEFF" onclick="CheckStatusEFF(this);" type="checkbox"></td>
                                                }
                                                else
                                                {
                                                    <td><input id="TinhTrangEFF" type="checkbox" checked="checked" disabled /></td>
                                                }

                                            </tr>
                                        }
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

@* @if (ViewBag.msg != "" && ViewBag.msg != null)
{
    <script charset="UTF-8">
        alert('@Html.Raw(ViewBag.msg)');
    </script>
} *@
<script>
    $("#gridVeSot .VeSot").click(function () {
        var rowjQuery = $(this).closest("tr");
        var currentIndex = rowjQuery[0].rowIndex;

        var ID = String($(this).closest('tr').attr('id'));
        var MAHHK = document.getElementById("gridVeSot").rows[currentIndex].cells[2].innerHTML;

        var MAKH = document.getElementById("gridVeSot").rows[currentIndex].cells[3].innerHTML;
        var PNR = document.getElementById("gridVeSot").rows[currentIndex].cells[8].innerHTML;
        var SOVE = document.getElementById("gridVeSot").rows[currentIndex].cells[9].innerHTML;
        var GIAMUA = document.getElementById("gridVeSot").rows[currentIndex].cells[10].innerHTML;
        var PHIDVMUA = document.getElementById("gridVeSot").rows[currentIndex].cells[11].innerHTML;
        var PHIDVBAN = document.getElementById("gridVeSot").rows[currentIndex].cells[12].innerHTML;
        var PHIHOAN = document.getElementById("gridVeSot").rows[currentIndex].cells[13].innerHTML;
        var CHIETKHAU = document.getElementById("gridVeSot").rows[currentIndex].cells[14].innerHTML;
        var MAGIOITHIEU = document.getElementById("gridVeSot").rows[currentIndex].cells[16].innerHTML;
        var NGUOIGIOITHIEU = document.getElementById("gridVeSot").rows[currentIndex].cells[17].innerHTML;



        var ChiTietVeSot = {};
        ChiTietVeSot.ID = ID;
        ChiTietVeSot.MAKH = MAKH;
        ChiTietVeSot.PNR = PNR;
        ChiTietVeSot.SoVe = SOVE;
        ChiTietVeSot.GiaMua = GIAMUA;
        ChiTietVeSot.PhiDVMua = PHIDVMUA;
        ChiTietVeSot.PhiDVBan = PHIDVBAN;
        ChiTietVeSot.PhiHoan = PHIHOAN;
        ChiTietVeSot.ChietKhau = CHIETKHAU;
        ChiTietVeSot.MaGioiThieu = MAGIOITHIEU;
        ChiTietVeSot.NguoiGioiThieu = NGUOIGIOITHIEU;
        ChiTietVeSot.MAHHK = MAHHK;
        ChiTietVeSot.RowIndex = currentIndex;

        $.ajax({
            type: "POST",
            url: "/@AreaNameConst.AREA_KeToan/KeToan/ChiTietVeSot",
            data: {
                DataDetail: ChiTietVeSot
            },
            success: function (response) {
                $('#openPopup').html(response);
                $('#openPopup').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
    function CheckStatusEFF(obj) {
        var table = document.getElementById("gridVeSot");
        var index = obj.parentNode.parentNode.rowIndex;

        var active = table.rows[index].cells[18].getElementsByTagName("input")[0].checked;
        var id = table.getElementsByTagName('tr')[index].id;

        $.ajax({
            type: "POST",
            url: "/@AreaNameConst.AREA_KeToan/KeToan/KiemTraTinhTrangEFF",
            data: {
                Active: active,
                RowID: id
            },
            success: function (response) {
                if (response == true) {
                    alert("Cập nhật thành công");
                    return;
                } else {
                    alert("Thất bại, xin vui lòng thử lại sau");
                    return;
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>