@model VeDoanAll


@{
    ViewData["Title"] = "Danh Sách Booking";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<title>@ViewData["Title"]</title>

<h2>Danh sách booking</h2>
<div class="x_panel">
    <div class="x_content">
        @using (Html.BeginForm("DanhSachBooking", "KyThuat", new { i = 14 }, FormMethod.Post))
        {
            <div class="row">
                <div class="item form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align" for="first-name">
                        Từ Ngày
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-8 ">

                        <fieldset class="col-xs-12" style="padding:0px">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" id="single_cal2" name="cal_from" value='@ViewBag.DateFrom'>
                                        <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>

                <div class="item form-group col-md-3 col-sm-12 col-xs-12">
                    <label class="col-form-label pad-top-6 col-md-4 col-sm-4 col-xs-12 label-align" for="first-name">
                        Đến Ngày
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-8 ">
                        <fieldset class="col-xs-12" style="padding:0px">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" id="single_cal3" name="cal_to" value='@ViewBag.DateTo'>
                                        <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="item form-group col-md-3 col-sm-3 col-xs-3" style="text-align:center;">
                    <input type="submit" class="btn btn-primary" value="Tìm Kiếm" name="searchBtn" />
                </div>
            </div>
        }
    </div>
</div>
<div class="table-responsive" style="font-size:12px;">
    <table id="gridTable" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">STT</th>
                <th class="column-title">Code</th>
                <th class="column-title">Hãng</th>
                <th class="column-title">Hành trình</th>
                <th class="column-title">Số lương</th>
                <th class="column-title">Họ và tên</th>
                <th class="column-title">Số đt</th>

                <th style="display:none" class="column-title"></th>
            </tr>
        </thead>
        <tbody>

            @{
                int i = 1;
            }
            @if (Model != null)
            {
                @if (Model.vedoan != null)
                {
                    @foreach (var item in Model.vedoan)
                    {
                        <tr id="@item.ID" class="even pointer">
                            <td style="text-align:center">@i</td>
                            <td class=""><a class="Chitiet" style="color:red;" data-toggle="modal" data-target="#openPopup" href="javascript:;">@item.Code</a></td>
                            <td class="">@item.Hang</td>
                            <td class="">@item.HanhTrinh</td>
                            <td class="">@item.SoLuongKhach</td>
                            <td class="">@item.Name</td>
                            <td class=""><a href="tel:@item.Sdt">@item.Sdt</a></td>
                            <td style="display:none">@item.ID</td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="display:none"></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="display:none"></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="openPopup" role="dialog">
</div>

<script src="~/js/jquery.1.7.2.min.js"></script>
<script src="~/js/jquery-ui.1.8.9.js"></script>
<link href="~/js/jquery-ui.1.8.9.css" rel="stylesheet" />
<script src="~/js/kythuat/danhsachbooking.js"></script>