@model AirportCodeRequest
<style>
    @@media(min-width: 768px) {
        .modal-dialog {
            width: 1000px;
            margin: 30px auto;
        }
    }

    .modal-body img {
        width: 100% !important;
        height: auto !important;
    }

    .modal-header {
        padding: 6px 15px;
        border-bottom: none;
    }
</style>

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color: #FFF; font-size: 16px;">EditAirportCode</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <label for="" class="col-sm-12 control-label">AirportCode</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" readonly id="AirportCode" name="AirportCode" placeholder="AirportCode" value="@Model.AirportCode">
                                        <input type="hidden" class="form-control" id="ID" name="ID" value="@Model.AirportCode">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label for="" class="col-sm-12 control-label">Latitude</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="Latitude" name="Latitude" placeholder="Latitude" value="@Model.Latitude">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="" class="col-sm-12 control-label">Longitude</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="Longitude" name="Longitude" placeholder="Longitude" value="@Model.Longitude">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="" class="col-sm-12 control-label">TimeZoneOffset</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="TimeZoneOffset" name="TimeZoneOffset" placeholder="TimeZoneOffset" value="@Model.TimeZoneOffset">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="" class="col-sm-12 control-label">IataCode</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="IataCode" name="IataCode" placeholder="IataCode" value="@Model.IataCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">

                        <label for="" class="col-sm-12 control-label">CityCode</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="CityCode" name="CityCode" placeholder="CityCode" value="@Model.CityCode">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label for="" class="col-sm-12 control-label">CountryCode</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="CountryCode" name="CountryCode" placeholder="CountryCode" value="@Model.CountryCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="" class="col-sm-12 control-label">RegionCode</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="RegionCode" name="RegionCode" placeholder="RegionCode" value="@Model.RegionCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="" class="col-sm-12 control-label">Description</label>
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="Details">
                @for (int i = 0; i < Model.Profiles.Count; i++)
                {
                    var Localle = "LocaleId" + i;
                    var AirportName = "AirportName" + i;
                    var Description = "Description" + i;
                    var CityName = "CityName" + i;
                    var CountryName = "CountryName" + i;
                    var ID = "Detail_" + i;
                    <div class="row" id="@ID">
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="@Localle" id="@Localle" value="@Model.Profiles[i].LocaleId" asp-for="@Localle" name="@Localle" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="@AirportName" id="@AirportName" value="@Model.Profiles[i].AirportName" asp-for="@AirportName" name="@AirportName" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="@Description" id="@Description" value="@Model.Profiles[i].Description" asp-for="@Description" name="@Description" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="@CityName" id="@CityName" value="@Model.Profiles[i].CityName" asp-for="@CityName" name="@CityName" class="form-control ">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <input type="text" placeholder="@CountryName" id="@CountryName" value="@Model.Profiles[i].CountryName" asp-for="@CountryName" name="@CountryName" class="form-control ">
                            </div>
                        </div>
                        @if (i == 0)
                        {
                            <div class="col-md-1 col-xs-6">
                                <div class="item form-group">
                                    <input class="btn btn-primary" onclick="ThemDong(this);" type="button" value="+" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 col-xs-6">
                                <div class="item form-group">
                                    <input class="btn btn-primary" onclick="ThemDong(this);" style="background-color:red;" type="button" value="-" />
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <div class="control-group">
                        <div class="controls">
                            <div class=" xdisplay_inputx form-group has-feedback">
                                <button type="button" id="Update" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/kythuat/airportcode.js"></script>