@using Manager.Common.Helpers.AreaHelpers
@model BANK_ACCOUNT
@{
    var ListBank = ViewData["ListBank"] as List<BankModel>;
}
<style>
    @@media(min-width: 768px) {
        .modal-dialog {
            width: 1000px;
            margin: 30px auto;
        }
    }

    .modal-body img {
        width: 100% !important;
        height: auto !important;
    }

    .modal-header {
        padding: 6px 15px;
        border-bottom: none;
    }
</style>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color: #FFF; font-size: 16px;">Edit Bank</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">
            <div class="row">
                <div class="col-sm-6">
                    <label for="" class="col-sm-12 control-label">Bank</label>
                    <div class="col-sm-12">
                        <fieldset style="padding:0px">
                            <div class="control-group">
                                <div class="controls">
                                    <div class=" xdisplay_inputx form-group has-feedback">
                                        <select id="Bank" name="Bank" class="select2_single form-control">
                                            @for (int i = 0; i < ListBank.Count; i++)
                                            {
                                                if (Model.IDBank == ListBank[i].ID)
                                                {
                                                    <option selected value="@ListBank[i].ID">@ListBank[i].ShortName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ListBank[i].ID">@ListBank[i].ShortName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="col-sm-12 control-label">Chủ tài khoản</label>
                    <div class="col-sm-12">
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                                    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                                    <input type="text" class="form-control" id="AccountName" name="AccountName" placeholder="AccountName" value="@Model.AccountName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="col-sm-12 control-label">Số tài khoản</label>
                    <div class="col-sm-12">
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control" id="AccountNumber" name="AccountNumber" placeholder="AccountNumber" value="@Model.AccountNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="col-sm-12 control-label">Số thứ tự</label>
                    <div class="col-sm-12">
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control" id="Position" name="Position" placeholder="Position" value="@Model.Position">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="control-group">
                        <div class="controls">
                            <div class=" xdisplay_inputx form-group has-feedback">
                                <button type="submit" class="btn btn-primary" onclick="Save(this)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Save() {
        var ID = document.getElementById("ID").value;
        var IDBank = document.getElementById("Bank").value;
        var AccountName = document.getElementById("AccountName").value;
        var AccountNumber = document.getElementById("AccountNumber").value;
        var Position = document.getElementById("Position").value;
        var model = {
            ID: ID,
            IDBank: IDBank,
            AccountName: AccountName,
            AccountNumber: AccountNumber,
            Position: Position
        }
        var jsonData = JSON.stringify(model);
        $.ajax({
            type: "POST",
            processData: true,
            url: "/@AreaNameConst.AREA_PhongVe/BankInfo/SaveEditBank",
            data: {
                data: jsonData
            },
            success: function (response) {
                if (response == true) {
                    alert("Bạn đã chỉnh sửa thành công");
                }
                else {
                    alert("Bạn đã chỉnh sửa không thành công");
                }
                window.location.href = "/@AreaNameConst.AREA_PhongVe/BankInfo/Bank?&i=9";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>