@{
    ViewData["Title"] = "Tạo nhân viên";
    // Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<title>@ViewData["Title"]</title>
<h2>Nhân viên</h2>


<style>
    #avatarPreview {
        width: 100%;
        max-width: 200px;
        height: auto;
        border: 1px solid #ddd;
        padding: 5px;
        margin-top: 10px;
    }

    .error-message {
        color: red;
        font-size: 0.9em;
        margin-left: 5px;
    }

</style>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style=" background: #2A3F54;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 style="color:#fff">Thêm nhân viên</h1>
        </div>
        <div class="modal-body" style="border-radius:8px; background-color:#fff;">
            @using (Html.BeginForm("CreateEmployee", "Employee", new { i = 14 }, FormMethod.Post, true, new { enctype = "multipart/form-data", id = "employeeForm" }))
    {
          <div class="x_panel">
            <div class="x_content">
                <div class="container mt-5">
                    <div class="row" style="line-height: 25px;">
                        <!-- Left Column: Employee Information -->
                        <div class="col-md-8">
                            <form>
                                <!-- Row 1: Employee ID, Last Name, First Name -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="employeeCode" class="form-label">Mã Nhân viên <span style="color:red;"> * </span> </label>
                                                <input type="text" class="form-control" id="employeeCode" name="employeeCode" value="@ViewBag.EmployeeCode" readonly placeholder="Enter employee code">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="lastName" class="form-label">Họ lót <span style="color:red;"> * </span></label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                                        <span class="error-message" id="lastNameError"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="firstName" class="form-label">Tên <span style="color:red;"> * </span></label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                                        <span class="error-message" id="firstNameError"></span>
                                    </div>
                                </div>

                                <!-- Row 2: Gender, Date of Birth, Personal Phone -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="gender" class="form-label ">Giới tính <span style="color:red;"> * </span></label>
                                                <select class="form-select form-control" name="gender" id="gender">
                                            <option value="0" selected>-- Chọn Giới Tính --</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>
                                        <span class="error-message" id="genderError"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="birthDate" class="form-label">Ngày sinh <span style="color:red;"> * </span></label>
                                        <input type="date"  class="form-control" name="birthDate" id="birthDate">
                                        <span class="error-message" id="birthDateError"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="personalPhone" class="form-label">SĐT Cá nhân <span style="color:red;"> * </span></label>
                                                <input type="tel" class="form-control" name="personalPhone" id="personalPhone" placeholder="Enter personal phone">
                                        <span class="error-message" id="personalPhoneError"></span>
                                    </div>
                                </div>

                                <!-- Row 3: Permanent Address, Temporary Address -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="permanentAddress" class="form-label">Địa chỉ thường trú <span style="color:red;"> * </span></label>
                                                <input type="text" class="form-control" name="permanentAddress" id="permanentAddress" placeholder="Enter permanent address">
                                        <span class="error-message" id="permanentAddressError"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="temporaryAddress" class="form-label">Địa chỉ tạm trú <span style="color:red;"> * </span></label>
                                                <input type="text" class="form-control" name="temporaryAddress" id="temporaryAddress" placeholder="Enter temporary address">
                                        <span class="error-message" id="temporaryAddressError"></span>
                                    </div>
                                </div>

                                <!-- Row 4: ID/CCCD, Issued By, Issue Date -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="cccd" class="form-label">CCCD <span style="color:red;"> * </span></label>
                                        <input type="text" class="form-control" id="cccd" name="cccd" placeholder="Enter CCCD">
                                        <span class="error-message" id="cccdError"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="issuedBy" class="form-label">Nơi cấp <span style="color:red;"> * </span></label>
                                                <input type="text" class="form-control" id="issuedBy" name="issuedBy" placeholder="Enter issuing authority">
                                        <span class="error-message" id="issuedByError"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="issueDate" class="form-label">Ngày cấp <span style="color:red;"> * </span></label>
                                                <input type="date" class="form-control" id="issueDate" name="issueDate">
                                        <span class="error-message" id="issueDateError"></span>
                                    </div>
                                </div>

                                <!-- Additional fields for department, login credentials, etc. -->
                                <!-- (Omitted for brevity, you can include as needed) -->
                            </form>
                        </div>

                        <!-- Right Column: Avatar Upload and Preview -->
                        <div class="col-md-4 text-center">
                            <h4>Upload Avatar</h4>
                            <div class="mb-3">
                                <label for="avatar"  class="form-label">Choose Avatar <span style="color:red;"> * </span> </label>
                                 <input type="file" asp-for="avatar" class="file-button btn btn-primary col-md-12" name="avatar" id="avatar" accept="image/*" onchange="previewAvatar()">
                            </div>
                            <img id="avatarPreview" name="avatarPreview" src="https://placehold.co/200x200?text=Avatar" alt="Avatar Preview">
                            <span class="error-message" id="avatarPreviewError"></span>
                        </div>
                    </div>
                    <div class="row" style="line-height: 25px;">
                        <div class="col-md-12">
                            <!-- Row 5: Department, Division, Position -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="department" class="form-label">Phòng ban <span style="color:red;"> * </span> </label>
                                            <select class="form-control" name="department" id="department" name="department">
                                        <option value="0">-- Chọn Phòng Ban --</option>
                                        @foreach (var department in ViewBag.Departments)
                                        {
                                            <option value="@department.Code">@department.Name</option>
                                        }
                                    </select>
                                    <span class="error-message" id="departmentError"></span>

                                </div>
                                <div class="col-md-4">
                                    <label for="division" class="form-label">Bộ phận <span style="color:red;"> * </span> </label>
                                            <select class="form-control" name="division" id="division" name="division">
                                        <option value="0">-- Chọn Bộ Phận --</option>
                                        @foreach (var division in ViewBag.Divisions)
                                        {
                                            <option value="@division.Code">@division.Name</option>
                                        }
                                        
                                    </select>
                                    <span class="error-message" id="divisionError"></span>

                                </div>
                                <div class="col-md-4">
                                    <label for="position" class="form-label">Chức vụ <span style="color:red;"> * </span></label>
                                            <select class="form-control" name="position" id="position" name="position">
                                        <option value="0">-- Chọn Chức Vụ --</option>
                                        @foreach (var position in ViewBag.Positions)
                                        {
                                            <option value="@position.Code">@position.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- Row 6: Username, Password, Email -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="username" class="form-label">Tên đăng nhập <span style="color:red;"> * </span></label>
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                                    <span class="error-message" id="usernameError"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="password" class="form-label">Mật khẩu <span style="color:red;"> * </span></label>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                                    <span class="error-message" id="passwordError"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email <span style="color:red;"> * </span></label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                                    <span class="error-message" id="emailError"></span>
                                </div>
                            </div>

                            <!-- Row 7: Company Phone, Accountant Code, EXT -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="companyPhone" class="form-label">SĐT Công ty</label>
                                            <input type="tel" class="form-control" name="companyPhone" id="companyPhone" placeholder="Enter company phone">
                                </div>
                                <div class="col-md-4">
                                    <label for="accountantCode" class="form-label">Mã kế toán <span style="color:red;"> * </span></label>
                                            <input type="text" class="form-control" name="accountantCode" id="accountantCode" placeholder="Enter accountant code">
                                    <span class="error-message" id="accountantCodeError"></span>
                                </div>
                                <div class="col-md-4">
                                        <label for="ext" class="form-label">EXT</label>
                                            <input type="text" class="form-control" name="extension" id="extension" placeholder="Enter extension number">
                                </div>
                            </div>

                            <!-- Row 8: Personal Tax Code, Issue Date of Tax Code -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="nickName" class="form-label">ID NVKD</label>
                                            <input type="text" class="form-control" name="nickName" id="nickName" placeholder="Enter nick name">
                                </div>
                                <div class="col-md-4">
                                    <label for="personalTaxCode" class="form-label">MST cá nhân</label>
                                            <input type="text" class="form-control" name="personalTaxCode" id="personalTaxCode" placeholder="Enter personal tax code">
                                </div>
                                <div class="col-md-4">
                                    <label for="taxIssueDate" class="form-label">Ngày cấp MST</label>
                                            <input type="date" class="form-control" name="taxIssueDate" id="taxIssueDate">
                                </div>
                            </div>

                            <!-- Row 9: Joining Date, Vacation Calculation Date, Leaving Date -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="joiningDate" class="form-label">Ngày vào làm</label>
                                            <input type="date" class="form-control" name="joiningDate" id="joiningDate">
                                </div>
                                <div class="col-md-4">
                                    <label for="vacationDate" class="form-label">Ngày tính phép</label>
                                            <input type="date" class="form-control" name="vacationDate" id="vacationDate">
                                </div>
                                <div class="col-md-4">
                                    <label for="leavingDate" class="form-label">Ngày nghỉ việc</label>
                                            <input type="date" class="form-control" name="leavingDate" id="leavingDate">
                                </div>
                            </div>

                            <!-- Row 10: Work Regime, Work Status, Job Permissions -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="workRegime" class="form-label">Chế độ làm việc <span style="color:red;"> * </span> </label>
                                    <select class="form-control" id="workRegime" name="workRegime">
                                        <option value="0">Biên chế</option>
                                        <option value="1">Thử việc</option>
                                        <option value="2">Thực tập</option>
                                    </select>
                                    <span class="error-message" id="workRegimeError"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="workStatus" class="form-label">Trạng thái làm việc <span style="color:red;"> * </span> </label>
                                    <select class="form-control" id="workStatus" name="workStatus">
                                        <option value="1">Đang làm việc</option>
                                        <option value="2">Nghỉ thai sản</option>
                                        <option value="3">Nghỉ việc</option>
                                    </select>
                                    <span class="error-message" id="workStatusError"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="jobPermissions" class="form-label">Quyền hạn công việc <span style="color:red;"> * </span></label>
                                            <input type="text" class="form-control" id="jobPermissions" name="jobPermissions" placeholder="Enter job permissions">
                                    <span class="error-message" id="jobPermissionsError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button (Place wherever suitable) -->
                    <div class="row mt-4" style="float: right;margin-top: 10px;">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary btn-md">
                                <i class="glyphicon glyphicon-floppy-save"></i> Lưu
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
          

        </div>
    </div>
</div>

<script src="~/js/HCNS/CreateEmployee.js"></script>










